In [100]:
import numpy as np
import pandas as pd

In [101]:
# Get data
data = pd.read_csv("../data/clean_sharks.csv", usecols=['Type', 'Activity'])
data.head(10)

         Type                 Activity
0  Unprovoked                 Swimming
1    Provoked                  Fishing
2  Unprovoked               Snorkeling
3  Unprovoked                  Surfing
4  Unprovoked                 Standing
5  Unprovoked          Boogie boarding
6  Unprovoked                   Wading
7  Unprovoked          Boogie boarding
8  Unprovoked  Stand-Up Paddleboarding
9  Unprovoked                  Surfing

In [102]:
# Replace symbols and numbers in Activity
import re
tag_words = ['shrks', 'bite','on', 'to', 'and', 'the', 'also', 'am', 'at', 'for', 'with', 'wve', 'shark']

data['Activity'] = data['Activity'].apply(lambda x : re.sub('([^a-zA-Z]+)', ' ', x))

def remove_words(sentence, tag_words):
    return ' '.join([w for w in sentence.split() if w not in tag_words])

data['Cleaned_Activity'] = data['Activity'].apply(lambda x: remove_words(x, tag_words))

In [103]:
data

,Type,Activity,Cleaned_Activity
0,Unprovoked,Swimming,Swimming
1,Provoked,Fishing,Fishing
2,Unprovoked,Snorkeling,Snorkeling
3,Unprovoked,Surfing,Surfing
4,Unprovoked,Standing,Standing
...,...,...,...
1754,Provoked,Scuba diving attempting to catch a captive shark,Scuba diving attempting catch a captive
1755,Provoked,Attempting to net shark in shark channel,Attempting net in channel
1756,Provoked,Spearfishing on Scuba,Spearfishing Scuba
1757,Unprovoked,Standing,Standing
1758,Provoked,Fishing,Fishing

In [105]:
# Splitting data
data[['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']] = data['Cleaned_Activity'].str.split(' ', n=19, expand=True)
data = data.drop(columns=["Activity", 'Cleaned_Activity'])
data.head()

,Type,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,Unprovoked,Swimming,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Provoked,Fishing,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Unprovoked,Snorkeling,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,Unprovoked,Surfing,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,Unprovoked,Standing,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [106]:
# Saving data
data.to_csv('../data/basket_data.csv')